<div id="demo" class="carousel slide carousel-fade" data-ride="carousel" data-interval="3000">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag("foto1.jpg", class:"img-responsive") %>
      <div class="carousel-caption">
        <h3>Articulaciones</h3>
        <p>¡Mejora su condición!</p>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag("foto2.jpg", class:"img-responsive") %>
      <div class="carousel-caption">
        <h3>Punción seca</h3>
        <p>Técnica de fisioterapia que consiste en el empleo de una aguja sobre puntos musculares con dolor.</p>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag("foto3.jpg", class:"img-responsive") %>
      <div class="carousel-caption">
        <h3>¿Sufriste alguna fractura?</h3>
        <p>¡Nosotros nos encargamos de tu recuperación!</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
