<div class="container">
  <h2 class="text-center white-tx gal-tit">Galería</h2>
  <% @archivos.each do |archivo| %>
    <div class="gal-row">
      <h3 class="text-center blue-tx"><%= archivo.titulo %></h3>
      <div class="flex-container">
        <div class="scroller">
          <% for i in (0...archivo.imagenes.size) %>
            <%= image_tag(archivo.imagenes[i].thumb.url, class:"img-responsive") %>
          <% end %>
        </div>
      </div>
      <p class="gal-parr"><%= archivo.descripcion %></p><br>
    </div>
  <% end %>
</div>
