<%= render 'carrusel' %>
<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <i class="glyphicon glyphicon-cloud"></i>
      <h3>Fisioterapia</h3>
      <p>Mejore su salud y calidad de vida.</p>
      <i class="glyphicon glyphicon-cloud"></i>
    </div>
    <div class="col-sm-3">
      <i class="glyphicon glyphicon-cloud"></i>
      <h3>Análisis clínicos</h3>
      <p>Contamos con el servicio de Laboratorio.</p>
      <i class="glyphicon glyphicon-cloud"></i>
    </div>
    <div class="col-sm-3">
      <i class="glyphicon glyphicon-cloud"></i>
      <h3>Consulta gratuita</h3>
      <p>La consulta no tiene costo, y le ayuda a conocer el tratamiento que requiere.</p>
      <i class="glyphicon glyphicon-cloud"></i>
    </div>
    <div class="col-sm-3">
      <i class="glyphicon glyphicon-cloud"></i>
      <h3>¿Dudas?</h3>
      <p>Puede contactarnos, le atendemos con gusto.</p>
      <i class="glyphicon glyphicon-cloud"></i>
    </div>
  </div>
</div>

<div style="height:2000px;"></div>
