<%= render 'carrusel' %>
<div class="container sections-space">
  <div class="row">
    <div class="col-sm-3 blue-bc first-barr">
      <div class="text-center icons-bot-margin">
        <i class="fas fa-heartbeat icons-top"></i>
      </div>
      <h3 class="text-center white-tx">Fisioterapia</h3>
      <p class="barra1-parr">Mejore su salud y calidad de vida.</p>
      <div class="text-center">
        <i class="fas fa-plus-circle icons-barr1-bot orange-bc"></i>
      </div>
    </div>
    <div class="col-sm-3 orange-bc first-barr">
      <div class="text-center icons-bot-margin">
        <i class="fas fa-bong icons-top"></i>
      </div>
      <h3 class="text-center white-tx">Análisis clínicos</h3>
      <p class="barra1-parr">Contamos con el servicio de Laboratorio.</p>
      <div class="text-center">
        <i class="fas fa-plus-circle icons-barr1-bot blue-bc"></i>
      </div>
    </div>
    <div class="col-sm-3 blue-bc first-barr">
      <div class="text-center icons-bot-margin">
        <i class="fas fa-stethoscope icons-top"></i>
      </div>
      <h3 class="text-center white-tx">Consulta gratuita</h3>
      <p class="barra1-parr">La consulta no tiene costo, y le ayuda a conocer el tratamiento que requiere.</p>
      <div class="text-center">
        <i class="fas fa-plus-circle icons-barr1-bot orange-bc"></i>
      </div>
    </div>
    <div class="col-sm-3 orange-bc first-barr">
      <div class="text-center icons-bot-margin">
        <i class="far fa-comments icons-top"></i>
      </div>
      <h3 class="text-center white-tx">¿Dudas?</h3>
      <p class="barra1-parr">Puede contactarnos, le atendemos con gusto.</p>
      <div class="text-center">
        <i class="fas fa-plus-circle icons-barr1-bot blue-bc"></i>
      </div>
    </div>
  </div>
</div>

<div class="container sections-space">
  <div class="row">
    <div class="col-sm-1 text-center blue-bc">
      <i class="fas fa-home icons-mid-cent"></i>
    </div>
    <div class="col-sm-5">
      <h3 class="blue-tx">Servicio a domicilio</h3>
      <p>Si no puede acudir al consultorio, nosotros vamos, agende su cita.</p>
    </div>
    <div class="col-sm-1 text-center blue-bc">
      <i class="fas fa-user-md icons-mid-cent"></i>
    </div>
    <div class="col-sm-5">
      <h3 class="blue-tx">Personal calificado</h3>
      <p>Estamos en condstante capacitación y actualización.</p>
    </div>
  </div>
</div>
<div class="container sections-space">
  <div class="row">
    <div class="col-sm-1 text-center blue-bc">
      <i class="far fa-clock icons-mid-cent"></i>
    </div>
    <div class="col-sm-5">
      <h3 class="blue-tx">Horario flexible</h3>
      <p>Si no puede acudir al consultorio, nosotros vamos, agende su cita.</p>
    </div>
    <div class="col-sm-1 text-center blue-bc">
      <i class="fas fa-plus icons-mid-cent"></i>
    </div>
    <div class="col-sm-5">
      <h3 class="blue-tx">Servicios adicionales</h3>
      <p>Contamos con alianzas para ofrecer las mejores opciones para su salud.</p>
    </div>
  </div>
</div>

<div class="container sections-space">
  <div class="row">
    <div class="col-sm-6">
      <h2 class="subt-mid-bot">Tratamientos</h2>
      <div class="container">
        <div id="accordion" class="mid-width">
          <div class="card">
            <div class="card-header">
              <a class="card-link" data-toggle="collapse" href="#collapseOne">
                Electroterapia
              </a>
            </div>
            <div id="collapseOne" class="collapse show" data-parent="#accordion">
              <div class="card-body">
                Lorem ipsum dolor sit amet...
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
              Ultrasonido terapéutico
            </a>
            </div>
            <div id="collapseTwo" class="collapse" data-parent="#accordion">
              <div class="card-body">
                Lorem ipsum dolor sit amet...
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                Vendaje neuromuscular
              </a>
            </div>
            <div id="collapseThree" class="collapse" data-parent="#accordion">
              <div class="card-body">
                Lorem ipsum dolor sit amet...
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="card-link" data-toggle="collapse" href="#collapseFour">
                Ejercicio terapéutico
              </a>
            </div>
            <div id="collapseFour" class="collapse" data-parent="#accordion">
              <div class="card-body">
                Lorem ipsum dolor sit amet...
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link" data-toggle="collapse" href="#collapseFive">
              Estimulación temprana
            </a>
            </div>
            <div id="collapseFive" class="collapse" data-parent="#accordion">
              <div class="card-body">
                Lorem ipsum dolor sit amet...
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link" data-toggle="collapse" href="#collapseSix">
                Termoterapia
              </a>
            </div>
            <div id="collapseSix" class="collapse" data-parent="#accordion">
              <div class="card-body">
                Lorem ipsum dolor sit amet...
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <h2 class="subt-mid-bot">Servicios</h2>
      <div>
        <ul id="list-mid">
          <li><i class="fas fa-check blue-bc white-tx"></i> Fisioterapia</li>
          <li><i class="fas fa-check blue-bc white-tx"></i> Análisis clínicos</li>
          <li><i class="fas fa-check blue-bc white-tx"></i> Medicina general</li>
          <li><i class="fas fa-check blue-bc white-tx"></i> Nutrición</li>
          <li><i class="fas fa-check blue-bc white-tx"></i> Psicología</li>
        </ul>
      </div>
    </div>
  </div>
</div>
