<div class="container-fluid dark-str-bc">
  <div class="row text-center">
    <div class="col-sm-4">
      <%= image_tag('logo-fisiogad-top.jpg', style:"width:100%;") %>
      <p>FISIOGAD: Consultorio de fisioterapia</p>
      <hr>
      <address>
      Av. Estación Central, Local E., Misiones de San Francisco<br>
      E-mail: contacto@fisiogad.com<br>
      Tel: 2226525757<br>
      Tel: 2224367841<br>
      </address>
    </div>
    <div class="col-sm-4">
      <i class="far fa-plus-square"></i>
      <h3>Post recientes</h3>
      <p>Poner 2 entradas de la galería</p>
    </div>
    <div class="col-sm-4">
      <i class="far fa-clock"></i>
      <h3>Horario de atención</h3>
      <div class="">
        <p>Lun. 09:00 am - 08:00 pm</p>
        <hr>
        <p>Mar. 09:00 am - 08:00 pm</p>
        <hr>
        <p>Mié. 09:00 am - 08:00 pm</p>
        <hr>
        <p>Jue. 09:00 am - 08:00 pm</p>
        <hr>
        <p>Vie. 09:00 am - 08:00 pm</p>
        <hr>
        <p>Sáb. 09:00 am - 08:00 pm</p>
        <hr>
        <p>Dom. Cerrado</p>
        <hr>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <p></p>
    </div>
  </div>
</div>
