<div class="container-fluid dark-str-bc footer">
  <div class="row">
    <div class="col-sm-4 white-tx">
      <%= image_tag('logo-fisiogad-bottom4.png', style:"width:100%;") %>
      <h3 class="orange-tx text-center">Consultorio de fisioterapia</h3>
      <hr>
      <address>
      Av. Estación Central, Local E., Misiones de San Francisco<br>
      E-mail: contacto@fisiogad.com<br>
      Tel: 2226525757<br>
      Tel: 2224367841<br>
      </address>
    </div>
    <div class="col-sm-4 text-center">
      <i class="far fa-plus-square footer-icons"></i>
      <h3 class="orange-tx">Post recientes</h3>
      <p class="white-tx">Poner 2 entradas de la galería</p>
    </div>
    <div class="col-sm-4 text-center">
      <i class="far fa-clock footer-icons"></i>
      <h3 class="orange-tx">Horario de atención</h3>
      <div class="white-tx">
        <p>Lun. 09:00 am - 08:00 pm</p>
        <hr>
        <p>Mar. 09:00 am - 08:00 pm</p>
        <hr>
        <p>Mié. 09:00 am - 08:00 pm</p>
        <hr>
        <p>Jue. 09:00 am - 08:00 pm</p>
        <hr>
        <p>Vie. 09:00 am - 08:00 pm</p>
        <hr>
        <p>Sáb. 09:00 am - 08:00 pm</p>
        <hr>
        <p>Dom. Cerrado</p>
        <hr>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid dark-lgh-bc">
  <div class="row">
    <div class="col-sm-12 white-tx text-center">
      <h4>Todos los derechos reservados &copy 2018 FISIOGAD</h4>
      <h5>Sitio creado por <%= link_to "Diseño de Páginas Web", "https://www.paginaswebpueblamx.com/", class:"enlace", target: "_blank" %></h5>
    </div>
  </div>
</div>
